PORT=3001
MONGO_URI=mongodb+srv://tourism:tourism123@cluster0.kpp9j1o.mongodb.net/tourism?retryWrites=true&w=majority
WEATHER_API_KEY=9a0f269abd263cf49a91caa080d7c804
JWT_SECRET=replace_with_a_long_random_secret
